:root, [data-bs-theme=light] {
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #d6293e;
    --bs-orange: #fd7e14;
    --bs-yellow: #f7c32e;
    --bs-green: #0cbc87;
    --bs-teal: #20c997;
    --bs-cyan: #4f9ef8;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray-100: #f7f8f9;
    --bs-gray-200: #eff2f6;
    --bs-gray-300: #eef0f2;
    --bs-gray-400: #e1e4e6;
    --bs-gray-500: #a1a1a8;
    --bs-gray-600: #676a79;
    --bs-gray-700: #29292e;
    --bs-gray-800: #14191e;
    --bs-gray-900: #0f0f10;
    --bs-primary: #0f6fec;
    --bs-secondary: #14191e;
    --bs-success: #0cbc87;
    --bs-info: #4f9ef8;
    --bs-warning: #f7c32e;
    --bs-danger: #d6293e;
    --bs-light: #eef0f2;
    --bs-dark: #14191e;
    --bs-primary-rgb: 15, 111, 236;
    --bs-secondary-rgb: 20, 25, 30;
    --bs-success-rgb: 12, 188, 135;
    --bs-info-rgb: 79, 158, 248;
    --bs-warning-rgb: 247, 195, 46;
    --bs-danger-rgb: 214, 41, 62;
    --bs-light-rgb: 238, 240, 242;
    --bs-dark-rgb: 20, 25, 30;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 103, 106, 121;
    --bs-body-bg-rgb: 239, 242, 246;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: "Inter", sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #676a79;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-body-bg: #eff2f6;
    --bs-body-bg-rgb: 239, 242, 246;
    --bs-heading-color: var(--bs-gray-800);
    --bs-link-color: #0f6fec;
    --bs-link-color-rgb: 15, 111, 236;
    --bs-link-decoration: none;
    --bs-link-hover-color: #0c59bd;
    --bs-link-hover-color-rgb: 12, 89, 189;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: rgba(0, 0, 0, 0.1);
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.4rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.7rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0px 0px 20px rgba(93, 83, 84, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(83, 88, 93, 0.15);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(83, 88, 93, 0.15);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-emphasis-color: #000;
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --bs-card-bg: #ffffff;
}